@page "/restaurants"
@using Playground.Business.Domain.Models.Restaurant
@inject HttpClient Http

@if (restaurants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cuisine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in restaurants)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.Cuisine.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Restaurant[] restaurants;

    protected override async Task OnInitializedAsync()
    {
        restaurants = await Http.GetFromJsonAsync<Restaurant[]>("Restaurants");
    }

}
